@use "../abstracts/variables" as *;

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  background: $color-background;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

* {
  letter-spacing: 0.3px;
}
